
<div class="relative min-h-screen bg-cover bg-center animate-fade-in" style="background-image: url('/assets/image.png');">
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div class="relative flex flex-col items-center justify-center min-h-screen text-center text-white z-10 px-4 sm:px-6 lg:px-8">
        <div class="animate-pulse-once">
            <h1 class="name-text text-4xl sm:text-5xl md:text-6xl lg:text-7xl primary-color transition-transform transform hover:scale-105 sm:hover:scale-110 duration-500">
                John & Vivian Sarpong
            </h1>
            <p class="text-xl sm:text-2xl md:text-3xl lg:text-4xl mt-4 transition-transform transform hover:scale-105 duration-500">
                45th Anniversary of Love & Joy
            </p>
        </div>

        <a href="#header" class="mt-10 animate-bounce">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 sm:h-10 sm:w-10 lg:h-12 lg:w-12 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3" />
            </svg>
        </a>
    </div>
</div>
