<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/fav/favicon-16x16.png">
    <link rel="manifest" href="assets/fav/site.webmanifest">


    <meta property="og:title" content="Sapphire Anniversary - John & Vivian Sarpong" />
    <meta property="og:description" content="Celebrating 45 Years of Love and Joy" />
    <meta property="og:image" content="https://i.ibb.co/t4MDz5b/johnandviv.png">
    <meta property="og:url" content="https://johnandvivian.com/" />
    <meta property="og:type" content="website" />


    <title>Sapphire Anniversary - John & Vivian Sarpong</title>
</head>
<body>
    <iframe src="/wedding-anniversary-celebration-program#toolbar=0&navpanes=0&scrollbar=0" width="100%" height="100%"></iframe>
</body>
</html>
